* {
    box-sizing: border-box;
}

header {
    position: static;
}

.flex-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: white;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.107);
}

.box-1, .box-2 {
    width: 100%;
    text-align: center
}
.box-1 {
    flex-wrap: wrap; 
    padding: 10px;      
}

.box-2 h1 {
    font-size: 10vw ;;
}

.box-2 p {
    font-size: 5vw;
    ;

}

.box-1 img {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}

@media (min-width: 361px) {
    .flex-container {
        flex-direction: row;
    }
    .box-1 , .box-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-content: center;
    }

    .box-2 h1 {
        font-size: 5vw;
    }

    .box-2 p {
        font-size: 1rem;
    }
}

@media (min-width: 1025px) {
    .flex-container {
        width: 70%;
    }
    .box-2 h1 {
        font-size: 3vw;
    }

    .box-2 p {
        font-size: 1.8rem;
    }
}