* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

header {
    background: linear-gradient(135deg, #5b0b0b 10%, rgb(37, 5, 5) 100%);
    width: 100%;
}

/* Contenedor principal de arriba del header */
.top-header-main{
    display: flex;
    padding: 15px;
    width: 100%;
    flex-wrap: wrap;
}

/* Las dos cajas ocupando las dos mitades de la pantalla en el header */
.top-header1 , .top-header2 {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Logo en el header */
.top-header1 img {
    max-width: 90%;
    max-height: 100px;
}

/* Barra de búsqueda (está dentro de .top-header2) */
.search-bar {
    display: flex;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #383838;
}
/* Input de barra de búsqueda */
.top-header2 input {
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
}
/* Botón de barra de búsqueda */
.top-header2 button {
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
    align-self: stretch;
}

/* La tercera caja que NO sabemos qué contiene aún en el topheader. Planeo no hacerla visible o desplazarla hacia abajo en mobile.*/
.top-header3 {
    width: 100%;
    padding: 5px;
    order: 1;
    text-align: center;
    color: white;
} 

/*La parte de abajo del header*/
.bottom-header {
    display: flex;
/*     border-top: solid 1px #CFCFEA; */
    padding: 10px;
    background: linear-gradient(90deg, #250907 0%,#130705 99%);;
}

/*Haciendo flex el nav*/
nav {
    display: flex;
    flex: 1;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Haciendo flex la unorderer list del nav y quitandole estilos*/
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
}

/*Quitandole los estilos a los <a> y agregando un margin para que no se junte el texto*/
nav a {
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
 
}

/*Estableciendo tamaño y flex a cajas del bottom-header*/
 .nav-1 {
    display: flex;
    width: 15%;
 }

 .nav-1 ul {
    justify-content: center;
 }

 /*Con la caja 2 trabajamos por separado para alinear mejor el contenido*/
 .nav-2{
    display: flex;
    justify-content: center;
    width: 50%;
}

.nav-2 ul{
justify-content: center;
}

/*Tuve que hacer esto para que el login quede contra la derecha, evitando repetir código lo más posible*/
.nav-3 {
    display: flex;
    justify-content: end;
    width: 30%;
    flex: 1;
}

.nav-3 ul{
    flex-direction: row-reverse;
}

.nav-3 i {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}


/*Este burger menu es generico (Pienso que se vería mejor en una esquina en vez de en el medio, me guié con el de mercadoLiebre)*/
.burger-menu {
    background-color: #5b0b0b;
    color: white;
    width: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer{
    background-color: #080705;
    padding: 15px;
    margin-top: 5%;
}

footer h4 {
    margin-bottom: 10px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.footer-1 , .footer-2 , .footer-3 , .footer-4 , .footer-5 , .footer-6 {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    padding: 10px;
}

footer ul {
    list-style: none;
    font-size: 0.8rem;
}

footer ul li{
    margin-top: 10px;
}

.footer-bottom {
    border-top: solid 1px #e2e2e2;
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 15px
}
.footer-bottom ul{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 10px;
    font-size: 0.7rem;
}

/*Testing*/





/* Media querys */

@media (min-width: 361px) {
    .top-header-main{
        justify-content: space-between;
    }
    .container-flex {
        display: flex;
    }
    .top-header1 {
        justify-content: flex-start;
        width: 20%;
    }
    .top-header2 {
        justify-content: center;
        width: 50%;
    }
    .top-header3 {
        justify-content: flex-end;
        width: 20%;
        align-self: center;
    }

    /*Footer*/
    .footer-1 , .footer-2 , .footer-3 , .footer-4 , .footer-5 , .footer-6 {
        width: 30%;
    }

}

@media (max-width: 769px) {
    nav {
        display: none;
    }
}

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
    .footer-1 , .footer-2 , .footer-3 , .footer-4 , .footer-5 , .footer-6 {
        width: 15%;
    }
    .footer-bottom ul{
        display: flex;
        justify-content: space-around;
    }
    .footer-bottom ul li{
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
        flex: 1;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1025px) {

}