* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

header {
    position: absolute;
}

.bottom-header {
    background-color: rgba(0, 0, 0, 0.382);
}

section h1 {
    margin: 5% 0;
    padding: 10px;
    color: #000;
    font-size: 25px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.141);
    text-align: center;
    font-weight: bold;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
}

.article-container,
article {
    width: 90%;
    margin: 0 auto;
}

article {
    position: relative;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgb(219, 219, 219);
    max-width: 250px;
    transition: transform 0.3s ease;
}

.discount-class {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 3px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.productos-a article:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.665);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.modalUno {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: #fff;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.598);
    z-index: -1;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 1px solid rgb(219, 219, 219);

}

.dad-div {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-top: 60px;
}

.modalUno img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.39);
    margin-bottom: 10px;
}

.modalUno h3 {
    text-align: center;
    color: white;
    background-color: rgb(7, 140, 164);
    padding: 10px;
    border-radius: 3px;
}

.modalUno p {
    max-height: calc(1.2em * 7);
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.modalUno p::-webkit-scrollbar {
    width: 10px;
    background-color: transparent; 
  }
  
  .modalUno p::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.219); 
    border-radius: 5px;
  }
  
  .modalUno p::-webkit-scrollbar-track {
    background-color: transparent;
  }

.modal-ver-mas {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 15px;
    padding: 5px;
    font-size: 25px;
    background-color: rgb(7, 140, 164);
    border-radius: 5px;

}

.modal-ver-mas:hover {
    background-color: #a9c4bd;
}


.modalUno.mostrar {
    opacity: 1;
    z-index: 10;
}

.overlay.mostrar {
    opacity: 1;
    z-index: 10;
}

.product-card {
    width: 100%;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

.product-card a {
    color: black;
    text-decoration: none;
}

.discount {
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: green;
    transition: font-size 0.3s;
}

.offer-class {
    background: rgb(7, 140, 164);
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.offer-class h1 {
    color: white;
    margin: 0;
}

.carousel-container {
    margin-top: 100px !important;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid rgb(219, 219, 219);
}

.product-carousel {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    overflow: hidden;
    padding: 40px;
    white-space: nowrap;
}

.carousel-item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
}

.carousel-right-button {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    background-color: rgb(7, 140, 164);
    color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-left-button {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    background-color: rgb(7, 140, 164);
    color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-left-button:hover,
.carousel-right-button:hover {
    background-color: #a9c4bd;
}

.ver-mas-btn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(52, 131, 250);
    color: white;
    font-weight: 500;
    font-size: 1em;
    margin: 15px;
    width: 50vw;
    font-size: 1.4em;
}
.ver-mas-btn:hover {
    background-color: #a9c4bd;
}

article h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marcas {
    border: 1px solid rgb(219, 219, 219);
    box-shadow: none;
    transition: transform ease 0.3s;
}

.marcas:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.39);
}

.precio {
    font-size: 1.3rem;
    transition: font-size 0.3s;
    margin: 5px;
    font-weight: bold;
    color: green;
}

.product-card:hover .precio {
    font-size: 1.5rem;
}

.product-detail {
    border-top: solid 1px #a4a4a4;
    padding-top: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.categorias-populares {
    margin-top: 40px;
    margin-bottom: 180px;
    display: none;
}

.categorias-populares article {
    display: flex;
    border-radius: 200px;
    width: 30%;
    height: auto;
}

.categorias-populares img {
    border-radius: 200px;
    width: 100%;
}


.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.244);
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.slides {
    display: flex;
    animation: cambioDeSlide 24s infinite;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

/* Animación para que se muestre una imagen distinta, literalmente, moviendonos en el ege de X para ir cambiando las posiciones, la primera está en 0 y 100 porque volvemos ahí para volver a comenzar mostrando un "bucle" */
@keyframes cambioDeSlide {

    0%,
    100% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }
}


@media (min-width: 361px) {
    .article-container {
        width: 40%;
    }

    .categorias-populares article {
        width: 20%;
    }

    .ver-mas {
        margin-top: 100px;
    }

    .product-card img {
        max-width: 100%;
    }

    .product-carousel {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        overflow-x: auto;
        padding: 10px;
    }

    .carousel-item {
        flex: 0 0%;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 761px) {
    header {
        position: static;
    }

    .product-card img {
        max-width: 100%;
    }

    .product-carousel {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        overflow-x: auto;
        padding: 10px;
    }

    .carousel-item {
        flex: 0 0%;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (min-width: 761px) {
    .ver-mas-btn {
        width: 400px;
    }
}


@media (max-width: 761px) {
    .article-container {
        margin: 20px !important;
    }

    .product-carousel {
        overflow-x: auto
    }

    .carousel-right-button,
    .carousel-left-button {
        display: none;
    }
}

@media (min-width: 1025px) {
    .article-container {
        width: 20%;
        height: 400px;
        margin: 20px !important;
        
    }

    .productos-a article:hover {
        transform: translateY(-10px);
        transition: transform 0.3s ease;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.425);
    }

    article {
        margin: 0 auto;
        width: 100%;
    }

    .categorias-populares {
        display: flex;
        justify-content: center;
    }

    .categorias-populares article {
        display: flex;
        border-radius: 100%;
        width: 100px;
        margin: 5px;
    }

    section {
        width: 90%;
        margin: 0 auto;
    }

    .product-carousel {
        overflow: hidden;
        padding: 40px;
    }
}