* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5; 
}

section h1 {
    margin-top: 5%;
    margin-bottom: 5%;  
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: Permanent Marker;
    font-size: 1.5rem;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.141);
    font-family: Nunito;
    text-align: center;
    font-weight:bold;
    /* background: linear-gradient(90deg, rgba(147, 104, 255, 0.677) 0%, rgba(67, 0, 101, 0) 100%); */

}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    
}

article {
    width: 80%;
    height: 500px;
    margin: 10px;   
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.244);
}

.marcas {
    border: none;
    box-shadow: none;
}

.product-card {
    width: 100%;
}

.product-card img {
    width: 100%;
}

.product-card a {
    color: black;
    text-decoration: none;
}

.discount {
    color: green;
    transition-property: font-size;
    transition-duration: 0.3s;
}

.precio {
    transition-property: font-size;
    transition-duration: 0.3s ;
}

.product-card:hover .discount {
    text-decoration: none;
}

.product-card:hover .precio , .product-card:hover .discount {
    font-size: 1.2rem;
}

.product-detail {
    border-top: solid 1px #F1E8B8;
    padding-top: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.categorias-populares {
    margin-top: 20px;
    display: none;
}

.categorias-populares article {
    display: flex;
    border-radius: 200px 200px 200px 200px;
    width: 30%;

}

.categorias-populares img {
    border-radius: 200px 200px 200px 200px;
    width: 100%;
}

.description {
display: none;
}

/*Carousel robado de internet*/
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.slides {
    display: flex;
    animation: cambioDeSlide 24s infinite; /* Cambia de slide cada 12 segundos (ajusta según tus necesidades) */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.fa-star , .fa-star-half-stroke{
    color: rgb(52, 131, 250)
}

.ver-mas{
    width: 40%;
    padding: 5px;
    margin-top: 30px;
    border: solid 1px rgb(169, 169, 169);
    background-color: rgba(43, 79, 146, 0.617);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 43px 0px 43px 0px;
}

@keyframes cambioDeSlide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(-300%); }
}

header {
        position: absolute;
}
/*Fin del carousel robado de internet*/

/*testing 2*/

main article:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out;
    transform-origin: center top;
    
}


@media (min-width: 361px) {
    article {
        width: 40%;
    }
    .carousel-productos article {
        width: 35%;
        
    }
    .categorias-populares article {
        width: 20%;
    }
}


@media (min-width: 1025px) {
    article {
        width: 20%;
    }

    .categorias-populares {
        display: flex;
    }

    .carousel-productos article {
        width: 15%;
        
    }
    .categorias-populares article {
        display: flex;
        border-radius: 100%;
        width: 5%;
    }


    section {
        width: 90%;
        margin: 0 auto;
    }
}