* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: #e4e4e4;
  
}

img {
    width: 100%;
}
/* --------------header de Cami------------- */
header {
    background: linear-gradient(135deg, #880061 10%, rgb(202, 157, 157) 100%);
    width: 100%;
}

/* Contenedor principal de arriba del header */
.top-header-main{
    display: flex;
    padding: 15px;
    width: 100%;
   /*  flex-wrap: wrap; */
   align-items: center;
}

/* Las dos cajas ocupando las dos mitades de la pantalla en el header */
.top-header1 , .top-header2 {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* La tercera caja que NO sabemos qué contiene aún en el topheader. 
Planeo no hacerla visible o desplazarla hacia abajo en mobile.*/
.top-header3 {
    width: 100%;
    padding: 5px;
    order: 1;
    text-align: center;
    color: white;
} 

/* Logo en el header */
.top-header1 img {
    max-width: 90%;
    max-height: 100px;
}

/* Barra de búsqueda (está dentro de .top-header2) */
.search-bar {
    display: flex;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #383838;
}
/* Input de barra de búsqueda */
.top-header2 input {
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
}
/* Botón de barra de búsqueda */
.top-header2 button {
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
    align-self: stretch;
}


/* La tercera caja que NO sabemos qué contiene aún en el topheader. Planeo no hacerla visible o desplazarla hacia abajo en mobile.*/
.top-header3 {
    width: 100%;
    padding: 5px;
    order: 1;
    text-align: center;
    color: white;
} 

/*La parte de abajo del header*/
.bottom-header {
    display: flex;
/*     border-top: solid 1px #CFCFEA; */
    padding: 10px;
    background: linear-gradient(90deg, #250907 0%,#130705 99%);;
}

/*Haciendo flex el nav*/
nav {
    display: flex;
    flex: 1;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Haciendo flex la unorderer list del nav y quitandole estilos*/
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
}

/*Quitandole los estilos a los <a> y agregando un margin para que no se junte el texto*/
nav a {
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
 
}

/*Estableciendo tamaño y flex a cajas del bottom-header*/
 .nav-1 {
    display: flex;
    width: 15%;
    color: white;
 }

 .nav-1 ul {
    justify-content: center;
 }

 /*Con la caja 2 trabajamos por separado para alinear mejor el contenido*/
 .nav-2{
    display: flex;
    justify-content: center;
    width: 50%;
}

.nav-2 ul{
justify-content: center;
}

/*Tuve que hacer esto para que el login quede contra la derecha, evitando repetir código lo más posible*/
.nav-3 {
    display: flex;
    justify-content: end;
    width: 30%;
    flex: 1;
}

.nav-3 ul{
    flex-direction: row-reverse;
}

.nav-3 i {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

/* ---------------------- */
.total-product-detail {
      background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
}

.caja-info-producto {
    display: flex;
    width: 40%;
}

.titulo-container {
    padding: 15px;
    background-color: #d2c2fd;
    color: white;
}

main {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}
.producto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.img-producto  {
	background-color: #f7f7f9;
   /*  width: 100%; */
    margin: 30px;
    background: #fff;
}

.img-prod-peq {
    width: 30%;
    display: flex;
  
}

.img-prod-peq img{
    width: 50%;
    border: 1px solid rgba(0,0,0,.2);
    margin: 10px 10px 15px;

}

.container-info-product {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px;
 
}
.nombre-producto {
    font-size: 20px;
    margin-bottom: 30px;
    color: #080705;
}

.container-precio {
    padding-bottom: 20px;
   /*  border-bottom: 1px solid #e4e4e4; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-precio span {
    font-size: 24px;
    font-weight: 300;
}
.container-cuotas  {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-cuotas span {
    font-size: 24px;
    font-weight: 300;
}
.container-pago  {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-pago span {
    font-size: 24px;
    font-weight: 300;
}
.container-entrega  {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-entrega span {
    font-size: 24px;
    font-weight: 300;
}



h3 {
    color: rgb(243, 96, 96);
    font-style: italic;
    padding: 5px;
    margin: 8px;
   

}
h3:hover {
    color: rgb(84, 27, 190);
}
p {
    color: black;
   

}
.container-details-product {
    padding: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group label {
    width: 100px;
    color: #222;
    font-weight: 700px;
}

.form-group select {
	width: 300px;
	border: none;
	padding: 12px 15px;
	background-color: #f7f7f7;
	outline: none;
	color: #666;
}

.btn-clean {
	border: none;
	color: #666;
	cursor: pointer;

}

.btn-clean:hover {
	color: rgb(84, 27, 190);
}


.btn-add-to-cart {
	border: none;
	background-color: #252525;
	padding: 10px;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 700;
	cursor: pointer;
    margin: 8px;
}

.btn-add-to-cart:hover {
	color: rgb(243, 96, 96);
}

.container-add-cart {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
} 

.container-description  {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.container-description span {
    font-size: 24px;
    font-weight: 300;
}

.container-description,
.container-additional-information,
.container-reviews {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
	font-weight: 300;
	color: #666;
	font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
	/* font-size: 13px; */
	color: #252525;
	line-height: 22px;
	/* margin-top: 25px; */
   
}

article .container-related-products {
    width: 80%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.product-related {
    width: 100%;
}

.product-related img {
    width: 100%;
}

.product-detail {
    border-top: solid 1px #F1E8B8;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.container-social {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #e4e4e4;
}

.container-social span {
	font-weight: 300;
	color: #252525;
}

.container-buttons-social {
	display: flex;
	gap: 15px;
	align-items: center;
}

.container-buttons-social a:link,
.container-buttons-social a:visited {
	color: #666;
	font-size: 15px;
}

.container-buttons-social a:hover {
	color: rgb(243, 96, 96);
}

