* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e2e2e2; 
}

main section h1 {
    text-align: center;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

article {
    width: 80%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card {
    width: 100%;
}

.product-card img {
    width: 100%;
}

.product-detail {
    border-top: solid 1px #F1E8B8;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.categorias-populares {
    margin-top: 10%;
}

.categorias-populares article {
    display: flex;
    border-radius: 100%;
    width: 30%;
}

.categorias-populares img {
    border-radius: 100%;
}

.description {
    display: none;
}

section h1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    background-color: #080705;
    color: white;
    text-align: center;
    padding: 10%;
    margin-top: 20px;
}

@media (min-width: 361px) {
    article {
        width: 40%;
    }
    .categorias-populares article {
        width: 20%;
    }
}


@media (min-width: 1025px) {
    article {
        width: 20%;
    }
    .categorias-populares article {
        display: flex;
        border-radius: 100%;
        width: 10%;
    }
}

