* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua; 
}

.top-header{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    align-items: start;
    align-content: start;
    align-items: start  ;
    flex-wrap: wrap;
    text-align: center;
}

.caja1-topheader, .caja2-topheader {
    background-color: gray;
    width: 50%;
    height: 100px;
    padding: 5px;
}

.caja3-topheader {
    background-color: gray;
    display: block;
    width: 100%;
    padding: 5px;
}

.logo {
    width: 80%;
}