* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-color: #ccc;
}

.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(197, 154, 161);
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #9a9a9a;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

.mitad1, .mitad2 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.title-support {
    background: rgb(7, 140, 164);
    border-radius: 5px 5px 0px 0px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.img-2 {
    display: block;
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    align-self: center;
    object-fit: cover;
}

#logo {
    width: 80%;
    background-color: rgb(7, 140, 164);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.contenedor-padre form {
    width: 100%;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.form-container input[type="email"],
.form-container textarea {
    width: 100%;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #a9c4bd;
}

@media (min-width: 761px) {
    .contenedor-padre {
        width: 60%;
    }

    .mitad1, .mitad2 {
        width: 50%;

    }
    #logo {
        width: 50%;
    }
    
}