<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/style.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Raleway:wght@500&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="top-header-main">
            <div class="top-header1"><img src="/images/logopng.png" alt=""></div>
            <div class="top-header2"><div class="search-bar"><input type="text" placeholder="Buscar modelos o marcas..."><button ><i class="fa-solid fa-magnifying-glass"></i></button></div></div>
            <div class="top-header3">Caja 3</div>
        </div>
        <div class="bottom-header">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <nav>
            <div class="domicilio-nav">Ingresa tu domicilio</div>
            <div class="links-nav">Un par de links del nav</div>
            <div class="login-nav" >Login links</div>
            </nav>
        </div>
    </header>
    <img id="banner" src="/images/banner.jpg" alt="">
    <main>
        <section>
            <h1>Ofertas</h1>
            <div class="container-flex">
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 1.webp" alt="">
                <div class="product-detail">
                <h3>Nike 1</h3>
                <p class="discount">40% Off</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veniam asperiores aut quam et quibusdam rerum nobis voluptates dolore repellendus? Dolores sint dolore dolorum reprehenderit sit consequatur molestias a tenetur!</p>
                </div>
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 2.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 1.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 2.webp" alt="">
                </div>
            </article>
        </div>
        </section>
        <section>
            <h1>Historial</h1>g
            <div class="container-flex">
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 1.webp" alt="">
                <div class="product-detail">
                <h3>Nike 1</h3>
                <p class="discount">40% Off</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veniam asperiores aut quam et quibusdam rerum nobis voluptates dolore repellendus? Dolores sint dolore dolorum reprehenderit sit consequatur molestias a tenetur!</p>
                </div>
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 2.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 1.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 2.webp" alt="">
                </div>
            </article>

        </section>
        <section>
            <h1>Categorías populares</h1>
            <div class="container-flex">
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 1.webp" alt="">
                <div class="product-detail">
                <h3>Nike 1</h3>
                <p class="discount">40% Off</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veniam asperiores aut quam et quibusdam rerum nobis voluptates dolore repellendus? Dolores sint dolore dolorum reprehenderit sit consequatur molestias a tenetur!</p>
                </div>
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/adidas 2.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 1.webp" alt="">
                </div>
            </article>
            <article>
                <div class="product-card">
                    <img src="/images/zapatillas/nike 2.webp" alt="">
                </div>
            </article>
        </section>
    </main>
</body>
</html>