<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Gonza -->
    <section>
        <h2>Iniciar sesion<h2>
        <form action="/login" method="POST">
            <div class="form">
                <label>Nombre de usuario</label>
                <input type="text" name="username">
            </div>
            <div class="form">
                <label>Contraseña</label> 
                <input type="password" name="contraseña">
                <div><a class="recuperar" href="recuperarcontraseña">¿Olvidaste tu contraseña?</a></div>
            </div>
            <div class="boton">
                <button type="submit">Iniciar sesion</button>
            </div>
        </form>
        <p class="crear">¿No tienes una cuenta? <a href="register">Crear Cuenta</a></p>
    </section>
</body>
</html>