<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs', {title: 'Iniciar sesion'})%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <main>
        <section>
            <h2>Iniciar sesion<h2>
            <form action="/user/login" method="POST">
                <div class="form">
                    <label>Nombre de usuario</label>
                    <input type="text" name="username">
                </div>
                <div class="form">
                    <label>Contraseña</label> 
                    <input type="password" name="contraseña">
                    <div><a class="recuperar" href="recuperarcontraseña">¿Olvidaste tu contraseña?</a></div>
                </div>
                <div class="boton">
                    <button type="submit">Iniciar sesion</button>
                </div>
            </form>
            <p class="crear">¿No tienes una cuenta? <a href="register">Crear Cuenta</a></p>
        </section>
    </main>
    <%-include('./partials/footer.ejs')%>
</body>
</html>