<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://kit.fontawesome.com/dfa7894c65.js" crossorigin="anonymous"></script>

</head>
<body>
    <main>
        <article class="volver">
       <h3> Volver al listado </h3>
    </article>
    <section class="contenedor-padre">
        <article class="contenedor-caja">
            
        </article>
    </section>
    </main>
</body>

</html>