<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs', {title: 'Registrarse'})%>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <main>
        <section>
            <h2>Crear cuenta<h2>
            <form action="/user/register" method="POST">
                <div class="form">
                    <label>Nombre</label>
                    <input type="text" name="nombre">
                </div>
                <div class="form"> 
                    <label>Apellido</label>
                    <input type="text" name="apellido">
                </div>
                <div class="form">
                    <label>Nombre de usuario</label>
                    <input type="text" name="username">
                </div>
                <div class="form">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>
                <div class="form">
                    <label>Contraseña</label> 
                    <input type="password" name="contraseña">
                </div>
                <div class="form">
                    <label>Repetir contraseña</label> 
                    <input type="password" name="contraseña">
                </div>
                <div class="boton">
                    <button type="submit">Crear cuenta</button>
                </div>
            </form>
            <p class="login">¿Ya tienes una cuenta? <a href="login">Iniciar sesion</a></p>
        </section>
    </main>
    <%-include('./partials/footer.ejs')%>
</body>
</html>