<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/searchProduct.css"> 
    <title>searchProduct</title>
</head>
<body>
    <!-- Fede --> 
    <aside class="aside-left">
        <div>
        </div>
    </aside>
    <main>
        <section class="section-right">
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\ejemploTopper.jpg" alt="Zapatilla TOPPER">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>TOPPER</h4>
                        </div>
                        <div class="description-class">
                            <p>Descripcion producto</p>
                        </div>
                        <div class="by-brand">
                            <p>por Topper</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <p class="precio">$21.750</p>                            
                        </div>
                        <div class="dues-class">
                            <p>Mismo precio en 3 cuotas de $6550</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\jaguar.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>TOPPER</h4>
                        </div>
                        <div class="description-class">
                            <p>Descripcion producto</p>
                        </div>
                        <div by-brand>
                            <p>por Topper</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <p class="precio">$21.750</p>                            
                        </div>
                        <div class="dues-class">
                            <p>Mismo precio en 3 cuotas de $6550</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\ejemploTopper.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>TOPPER</h4>
                        </div>
                        <div class="description-class">
                            <p>Descripcion producto</p>
                        </div>
                        <div by-brand>
                            <p>por Topper</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <p class="precio">$21.750</p>                            
                        </div>
                        <div class="dues-class">
                            <p>Mismo precio en 3 cuotas de $6550</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
        </section>
    </main>
</body>
</html>