<!DOCTYPE html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="css/searchProduct.css"> 
    <!--Icons-->
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    <title>searchProduct</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Raleway:wght@500&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Fede --> 
    <aside class="aside-left">
        <div class="aside-title">
            <div>
                <h4>Ropa y Accesorios > Calzado</h4>
            </div>
            <div>
                <h2>Zapatillas<h2>
            </div>
            <div>
                <h4>12 Resultados<h4>
            </div>
        </div>
        <div class="filter-class">            
            <div class="class-arrive-today">
                <p>Llegan hoy</p>
                <i class="fa-solid fa-toggle-off toggle"></i>
            </div>
            <div class="class-arrive-free">
                <p>Te da envío gratis</p>
                <i class="fa-solid fa-toggle-off"></i>
            </div>
            <div class="class-free">
                <p>Envio gratis</p>
                <i class="fa-solid fa-toggle-off"></i>
            </div>
            <div class="price-with-discount">
                <p>Precio en cuotas</p>
                <i class="fa-solid fa-toggle-off"></i>
            </div>
        </div>
        <div class="gender-class">
            <div>
                <h2>Género</h2>
            </div>
            <div>
                <p>Hombre</p>
            </div>
            <div>
                <p>Mujer</p>
            </div>
            <div>
                <p>Niños</p>
            </div>
            <div>
                <p>Niñas</p>
            </div>
        </div>
        <div class="waist-class">
            <div>
                <h2>Talle</h2>
            </div>
            <div>
                <p>38</p>
            </div>
            <div>
                <p>39</p>
            </div>
            <div>
                <p>39.5</p>
            </div>
            <div>
                <p>40</p>
            </div>
            <div>
                <p>41</p>
            </div>
            <div>
                <p>42</p>
            </div>
            <div>
                <p>43</p>
            </div>
            <div>
                <p>44</p>
            </div>
        </div>
        <div class="brand-class-aside">
            <div>
                <h2>Marca</h2>
            </div>
            <div>
                <p>Topper</p>
            </div>
            <div>
                <p>Jaguar</p>
            </div>
            <div>
                <p>New Balance</p>
            </div>
            <div>
                <p>Adidas</p>
            </div>
            <div>
                <p>Nike</p>
            </div>
            <div>
                <p>Kappa</p>
            </div>
            <div>
                <p>Puma</p>
            </div>
            <div>
                <p>44</p>
            </div>
            <div>
                <p>Atomik</p>
            </div>
            <div>
                <p>Converse</p>
            </div>
            <div>
                <p>All Star</p>
            </div>
            <div>
                <p>Gola</p>
            </div>
            <div>
                <p>Under Armour</p>
            </div>
            <div>
                <p>Umbro</p>
            </div>
            <div>
                <p>Lacoste</p>
            </div>
        </div>
        <div class="condition-class">
            <div>
                <h2>Condicion</h2>
            </div>
            <div>
                <p>Nuevo</p>
            </div>
            <div>
                <p>Usado</p>
            </div>
        </div>
        <div class="location-class">
            <div>
                <h2>Ubicación</h2>
            </div>
            <div>
                <p>Capital Federal</p>
            </div>
            <div>
                <p>Bs.As G.B.A Sur</p>
            </div>
            <div>
                <p>Bs.As G.B.A Norte</p>
            </div>
            <div>
                <p>Bs.As G.B.A Oeste</p>
            </div>
            <div class="class-show-more">
                <p>Mostrar más</p>
            </div>
        </div>
    </aside>
    <main>
        <section class="section-right">
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\ejemploTopper.jpg" alt="Zapatilla TOPPER">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>TOPPER</h4>
                        </div>
                        <div class="description-class">
                            <p>Descripcion producto</p>
                        </div>
                        <div class="by-brand">
                            <p>por Topper</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$21.750</h2>                            
                        </div>
                        <div class="dues-class">
                            <p>Mismo precio en 3 cuotas de $6550</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\jaguar.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>JAGUAR</h4>
                        </div>
                        <div class="description-class">
                            <p>Jaguar 3038 Niños</p>
                        </div>
                        <div by-brand>
                            <p></p>
                        </div>
                        <div class="reputation-icon">
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$25.220</h2>                            
                        </div>
                        <div class="dues-class">
                            <p>En 12x $ 3.716</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="Envio gratis">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\salomon.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>SALOMON</h4>
                        </div>
                        <div class="description-class">
                            <p>Salomon Supercross 3 Hombre Adultos</p>
                        </div>
                        <div by-brand>
                            <p>por Universo Aventura</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$89.999</h2>                            
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\ejemploTopper.jpg" alt="Zapatilla TOPPER">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>TOPPER</h4>
                        </div>
                        <div class="description-class">
                            <p>Descripcion producto</p>
                        </div>
                        <div class="by-brand">
                            <p>por Topper</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$21.750</h2>                            
                        </div>
                        <div class="dues-class">
                            <p>Mismo precio en 3 cuotas de $6550</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\jaguar.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>JAGUAR</h4>
                        </div>
                        <div class="description-class">
                            <p>Jaguar 3038 Niños</p>
                        </div>
                        <div by-brand>
                            <p></p>
                        </div>
                        <div class="reputation-icon">
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$25.220</h2>                            
                        </div>
                        <div class="dues-class">
                            <p>En 12x $ 3.716</p>
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="Envio gratis">
                        </div>                            
                    </div>
                </div>                    
            </article>
            <article>
                <div class="cart-class">
                    <div class="cart-image">
                        <img src="images\searchProduct\salomon.jpg" alt="Cafetera Moulinex">
                    </div>             
                    <div class="item-box">
                        <div class="brand-class">
                            <h4>SALOMON</h4>
                        </div>
                        <div class="description-class">
                            <p>Salomon Supercross 3 Hombre Adultos</p>
                        </div>
                        <div by-brand>
                            <p>por Universo Aventura</p>
                        </div>
                        <div class="reputation-icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price-class">
                            <h2 class="precio">$89.999</h2>                            
                        </div>
                        <div class="arrives-class">
                            <label for="arrives"></label>
                            <input type="text" id="arrives" name="arrives" placeholder="LLega gratis hoy sabado">
                        </div>                            
                    </div>
                </div>                    
            </article>
        </section>
    </main>
</body>
</html>