<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/product/create">
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="marca" placeholder="marca">
        <input type="number" name="precio" placeholder="precio">
        <input type="number" name="cuotas" placeholder="cuotas">
        <input type="number" name="descuento" placeholder="descuento">
        <input type="text" name="descripcion" placeholder="descripcion">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>