<!DOCTYPE html>
<html lang="en">
        <!--Head-->
        <%-include('../../partials/head.ejs')%>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <%-include('../../partials/header.ejs')%>
<style>
    body {
        text-align: center;
    }

    input{
        display: block;
        border-radius: 5px;
        border: none;
        margin: 10px;
        width: 100%;
        text-align: center;
        height: 30px;
    }

    form p {
        color: gray
    }

    h2{
        color: rgb(71, 71, 71);
    }

    button {
        width: 20;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px gray;
        background-color: violet;
        color: white;
        font-size: 24px;
    }
</style>
    <br>
    <div class="container-flex">
    <form method="POST" action="/product/create"><br>
        <h1>Crear producto</h1><br><hr><br><br>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
        <label for="marca">Marca</label>
        <input type="text" name="marca" id="marca">
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio">
        <label for="cuotas">Cuotas</label>
        <input type="number" name="cuotas" id="cuotas">
        <label for="descuento">Descuento</label>
        <input type="number" name="descuento" id="descuento">
        <label for="Stock">Stock</label>
        <input type="number" name="stock" id="stock">
        <label for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion">
        <label for="descuento">Color</label>
        <p>Escribir los colores separados por coma, sin espacios y con mayus al inicio: Rojo,Verde,Amarillo</p>
        <input type="text" name="color" id="color">
        <label for="talles">Talles</label>
        <p>Escribir los talles separados por coma y sin espacios: 42,37,38</p>
        <input type="text" name="talles" id="talles"><br>
        <h2>Especificaciones</h2><br>
        <label for="talles">Capellada</label>
        <input type="text" name="capellada" id="capellada">
        <label for="forro">Forro</label>
        <input type="text" name="forro" id="forro">
        <label for="suela">Suela</label>
        <input type="text" name="suela" id="suela">
        <label for="origen">Origen</label>
        <input type="text" name="origen" id="origen">

        <button type="submit">Enviar</button>
    </form>
</div>


    <!--Footer-->  
    <%-include('../../partials/footer.ejs')%>
</body>
</html>