<footer>
    <div class="footer-main">
      <div class="footer-1">
          <h4>Acerca de</h3>
              <ul>
                  <li>The Shoes</li>
                  <li>Investor relations</li>
                  <li>Tendencias</li>
                  <li>Sustentabilidad</li>
                  <li>Blog</li>
              </ul>
      </div>
      <div class="footer-2">
          <h4>Otros sitios</h3>
              <ul>
                  <li>Developers</li>
                  <li>Shoe Pago</li>
                  <li>Shoe shops</li>
                  <li>Envíos</li>
                  <li>Shoe Ads</li>
              </ul>
      </div>
      <div class="footer-3">
          <h4>Ayuda</h3>
              <ul>
                  <li>Comprar</li>
                  <li>Vender</li>
                  <li>Resolución de problemas</li>
                  <li>Centro de seguridad</li>
                  <li>Preguntas frecuentes</li>
              </ul>
      </div>
      <div class="footer-4">
          <h4>Redes sociales</h3>
              <ul>
                  <li>Twitter</li>
                  <li>Facebook</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
                  <li>Tiktok</li>
              </ul>
      </div>
      <div class="footer-5">
          <h4>Mi Cuenta</h3>
              <ul>
                  <li>Ingresar</li>
                  <li>Vender</li>
                  <li>Perfil</li>
                  <li>Privacidad</li>
              </ul>
      </div>
      <div class="footer-6">
          <h4>Shoe Puntos</h3>
              <ul>
                  <li>Nivel 5</li>
                  <li>Disney+</li>
                  <li>Star+</li>
                  <li>HBO MAX</li>
                  <li>Paramount+</li>
              </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <ul>
          <li>Trabaja con nosotros</li>
          <li>Terminos y condiciones</li>
          <li>Cómo cuidamos tu privacidad</li>
          <li>Accesibilidad</li>
          <li>Información al usuario financiero</li>
          <li>Ayuda</li>
          <li>Defensa al consumidor</li>
          <li>Información</li>
          <li>Seguros</li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul>
          <li>Copyright 1999-2023 The Shoes Market S.R.L</li>
          <li>Av. Falsa 123, Piso 2, CP 1234, Parque Avellaneda, CABA</li>
      </ul>
    </div>
  </footer>