<header>
    <div class="top-header-main">
        <div class="top-header1"><a href="/"><img src="/images/logopng.png" alt=""></a>
        </div>
        <div class="top-header2"><div class="search-bar"><input type="text" placeholder="Buscar modelos o marcas..."><button ><i class="fa-solid fa-magnifying-glass"></i></button></div></div>
        <div class="top-header3"><img id="caja3" src="/images/marcaCaja3.png" alt=""></div>
    </div>

    <div class="bottom-header">
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav>
        <div class="nav-1">
            <ul>
                <li><i class="fa-solid fa-location-dot"></i><a href=""> Ingresa tu domicilio</a></li>
            </ul>
        </div>

        <div class="nav-2">
            <ul>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="/productlist">Listado</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>

        <div class="nav-3" >
            <ul>
                <li><a href="/productcart">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
                <li><a href="/login">Ingresa</a></li>
                <li><a href="/register">Crea tu cuenta</a></li>
                
            </ul>
        </div>
        </nav>  
    </div>
</header>