body {
    text-align: center;
}

form    input{
    display: block;
    border-radius: 5px;
    border: none;
    margin: 10px;
    width: 100%;
    text-align: center;
    height: 30px;
}

form p {
    color: gray
}

h2{
    color: rgb(71, 71, 71);
}

form button {
    width: 20;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    background-color: violet;
    color: white;
    font-size: 24px;
}

.form-error {
    color: red;
    display: none;
}

