body {
    background-color: #f5f5f5;
}

.contenedor-padre {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}
.title-create{
    background: rgb(7, 140, 164);
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

.contenedor-flex {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.mitad1 {
    padding: 5px;
    width: 50%;
}
.mitad2 {
    padding: 5px;
    width: 50%;
}

.colores-y-talles {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
}
.colores{
    display: flex;
    width: 100px;
    background-color: rgba(7, 140, 164, 0.74);
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    color: white;
    display: flex;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.colores input{
    margin: 0;
    display: inline;
}
.colores label{
    margin: 0;
    display: inline;
}

.colta-title{
    margin: 5px;
}

.label-prod {
    padding: 5px;
}

.parte3 {
    width: 100%;
}

form input {
    width: 80%;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: gray;
}

form input:focus {
    outline: none;
    background-color: rgba(7, 140, 164, 0.74);
    color: white;
    padding: 5px;
}

form select:focus {
    outline: none;
    background-color: rgba(7, 140, 164, 0.74);
    color: white;
}

input:focus::placeholder {
    color: white;
}

#imginput {
    background-color: rgba(7, 140, 164, 0.74);
    color: white;
}

form select {
    background-color: rgba(7, 140, 164, 0.74);
    width: 80%;
    border-radius: 3px;
    padding: 5px;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin: 5px;
}

.errores {
    background-color: rgb(66, 24, 24);
    border-radius: 3px;
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}
form textarea {
    resize: none;
    border: 1px solid rgb(219, 219, 219);
    background-color: transparent; /* Hace que el fondo sea transparente */
    outline: none;
    background-color: white;
    border-radius: 3px;
    width: 80%;
    margin: 5px;
    padding: 5px;
    height: 150px;
    border-radius: 5px;
}

.textarea-title {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

    
.contenedor-padre ::placeholder {
}

.enviar-btn {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    width: 100px;
    background-color: rgb(7, 140, 164); 
    color: white;
    font-size: 1em;
}
.enviar-btn:hover {
    background-color: #a9c4bd;
}
    
@media (max-width: 761px) {
    .contenedor-padre{
        width: 90%;
        font-size: 1.5em;
    }
    
    .contenedor-padre ::placeholder {
        font-size: 1.5em;
    }

    .colores {
        width: 150px;
    }
    
    .contenedor-flex {
        flex-direction: column;
    }
    .mitad1, .mitad2 {
        width: 100%;
    }
}