*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, Raleway, popin;
}

body{
    background-color: #e2e2e2;    
}

.falsobody {
    display: flex;
}

.aside-left{    
    display: none;
}

.section-right{   
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
}

article .cart-class{
    margin:  2% 1% 1% 2%;
}

.cart-class{    
    border: 1px solid rgb(219, 219, 219);
    min-width: 500px;
    max-width: 290px;
    padding: 8px;
    background: white;
    border-radius: 8px;
}

.cart-image {
    padding: 0%;
    width: 100%;
    height: 300px;
    display: flex;
    border-bottom: 1px solid rgb(234, 234, 234);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cart-image img{
    width: 100%;
    display: block;    
}

.item-box {       
    padding: 3%;
    background-color: white;
    width: 100%;
    height: 290px;

    .reputation-icon{
        color: rgb(52, 131, 250);
    }   

    .arrives-class, input{
        border: none;
        width: 100%;
    }

    .arrives, ::placeholder{
        color: rgb(4, 167, 82);
        background-color: rgb(230, 247, 238);
        text-align: center;
    }
}

.brand-class, .description-class, .reputation-icon, .price-class, .dues-class, .arrives-class  {
    margin: 0px 0px 5% 0px;
}

@media (min-width: 769px) {   

    .aside-left{    
        width: 25vw;    
        display: inline;  
        justify-content: flex-end;
        padding: 2%;
    }
    
    .aside-left h2, h4, p{
        margin-bottom: 5%;
    }
    
    .aside-title{
        padding: 10%;
    }   
    
    .filter-class{    
        padding: 5% 0% 5% 5%;
    }
    
    .filter-class p{    
        margin: 1px 1px 1px 1px;    
    }
    
    .filter-class i:hover{
        color: rgb(52, 131, 250);
    }
    
    .class-arrive-today p{
        font-size: none;
    }
    
    .toggle{
        font-size: 25px;
    }
    
    .class-arrive-today, .class-arrive-free, .class-free, .price-with-discount{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        margin: 0 0 10% 0;
        width: 167px;
        height: 50px;
        padding: 0 5% 0 5%;
        border-radius: 5px;
    }
    
    .gender-class, .waist-class, .brand-class-aside, .condition-class, .location-class{
        padding: 2% 10% 5% 10%;
    }
    
    .class-show-more p{
        color: rgb(52, 131, 250);
    }
    
    .class-show-more p:hover{
        color: rgb(66, 104, 202);
    }
    
    main{
        padding: 2%;
    }

    .section-right{    
        width: 75vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
    }
    
    article {
        width: 45%;    
    }   
    
    .cart-class{     
        min-width: 200px;                   
    }
    
    .cart-class:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .cart-image {
        height: 170px;
    }
    
    .item-box {      
        height: 260px;
    }
  
}

@media (min-width: 1024px){   
 
    .class-arrive-today, .class-arrive-free, .class-free, .price-with-discount{

        width: 220px;
    }
    
    article {
        width: 33%;    
    }   
  
}

/* @media (max-width: 1024px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: roboto, Raleway, popin;
    }
    
    body{
        background-color: #e2e2e2;    
    }
    
    .falsobody {
        display: flex;
    }
    
    .aside-left{    
        width: 25vw;       
        justify-content: flex-end;
        padding: 2%;
    }
    
    .aside-left h2, h4, p{
        margin-bottom: 5%;
    }
    
    .aside-title{
        padding: 10%;
    }
    
    main{
        padding: 2%;
    }
    
    .filter-class{    
        padding: 5% 0% 5% 5%;
    }
    
    .filter-class p{    
        margin: 1px 1px 1px 1px;    
    }
    
    .filter-class i:hover{
        color: rgb(52, 131, 250);
    }
    
    .class-arrive-today p{
        font-size: none;
    }
    
    .toggle{
        font-size: 25px;
    }
    
    .class-arrive-today, .class-arrive-free, .class-free, .price-with-discount{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        margin: 0 0 10% 0;
        width: 220px;
        height: 50px;
        padding: 0 5% 0 5%;
        border-radius: 5px;
    }
    
    .gender-class, .waist-class, .brand-class-aside, .condition-class, .location-class{
        padding: 2% 10% 5% 10%;
    }
    
    .class-show-more p{
        color: rgb(52, 131, 250);
    }
    
    .class-show-more p:hover{
        color: rgb(66, 104, 202);
    }
    
    .section-right{    
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    article {
        width: 33%;    
    }
    
    article .cart-class{
        margin:  2% 1% 1% 2%;
    }
    
    .cart-class{    
        border: 1px solid rgb(219, 219, 219);  
        min-width: 200px;
        max-width: 290px;         
        padding: 8px;
        background: white;
        border-radius: 8px;    
    }
    
    .cart-class:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .cart-image {
        padding: 0%;
        width: 100%;
        height: 170px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(234, 234, 234);
    }
    
    .cart-image img{
        width: 100%;
        display: block;    
    }
    
    .item-box {        
        padding: 3%;
        background-color: white;
        width: 100%;
        height: 260px;
        
    
        .reputation-icon{
            color: rgb(52, 131, 250);
        }   
    
        .arrives-class, input{
            border: none;
            width: 100%;
        }
    
        .arrives, ::placeholder{
            color: rgb(4, 167, 82);
            background-color: rgb(230, 247, 238);
            text-align: center;
            
        }
    
    }
    
    .brand-class, .description-class, .reputation-icon, .price-class, .dues-class, .arrives-class  {
        margin: 0px 0px 5% 0px;
    }
  
} */