*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e2e2e2;    
}

main { 
    width: 100%;
}

.falsobody {
    display: flex;
}

.aside-left{    
    display: none;
}

.aside-left a{    
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.aside-left a:hover{    
    color:rgb(52, 131, 250);
}

.section-right{   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


article {
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}



.cart-class{    
    border: 1px solid rgb(219, 219, 219);
    padding: 8px;
    background: white;
    border-radius: 8px;
    width: 100%;
}

.cart-image {
    display: inline-block;
    padding: 0%;
    width: 100%;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.cart-image img{
    width: 100%; 
}

.item-box {       
    padding: 3%;
}

article a {
    text-decoration: none;
    color: black;
}

.reputation-icon{
  color: rgb(52, 131, 250);
}   

.arrives-class, input{
    border: none;
    width: 100%;
 
}

.arrives {
    padding: 5px;
    color: rgb(4, 167, 82);
    background-color: rgb(230, 247, 238);
    text-align: center;
    border-radius: 5px;
}

.brand-class, .reputation-icon, .price-class, .dues-class, .arrives-class  {
    margin: 0px 0px 5% 0px;
}

.description-class, .name-class{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    max-height: 2em; 
  }

@media (min-width: 461px) {
    article {
        width: 40%;
    }

}

@media (min-width: 1024px) {
    .section-right {
        flex-direction: wrap;
        justify-content: flex-start;
    }

    article {
        width: 20%;
        margin: 10px;
    }
    .cart-class {
        width: 100%;
        margin: 0;
    }

}



@media (min-width: 769px) {   

    .aside-left{    
        width: 25vw;    
        display: inline;  
        justify-content: flex-end;
        padding: 2%;
    }
    
    .aside-left h2, h4, p{
        margin-bottom: 5%;
    }
    
    .aside-title{
        padding: 10%;
    }   
    
    .filter-class{    
        padding: 5% 0% 5% 5%;
    }
    
    .filter-class p{    
        margin: 1px 1px 1px 1px;    
    }
    
    .filter-class i:hover{
        color: rgb(52, 131, 250);
    }
    
    .class-arrive-today p{
        font-size: none;
    }
    
    .toggle{
        font-size: 25px;
    }

    
    .gender-class, .waist-class, .brand-class-aside, .condition-class, .location-class{
        padding: 2% 10% 5% 10%;
    }
    
    .class-show-more p{
        color: rgb(52, 131, 250);
    }
    
    .class-show-more p:hover{
        color: rgb(66, 104, 202);
    }

    .section-right{    
        width: 75vw;
        display: flex;
        flex-wrap: wrap;    
    }
    .cart-class:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
}
