*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e2e2e2;
}

main { 
    width: 100%;
}

.falsobody {
    display: flex;
}

.aside-left{    
    display: none;
}

.aside-left a{    
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.aside-left a:hover{    
    color:rgb(52, 131, 250);
}

aside input {
    border-radius: 5px;
    width: 90px;
    height: 25px;
    margin-top: 5px;
}

.aside-button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(52, 131, 250);
    color: white;
    font-weight: 500;
    font-size: 1em;
}

.aside-button:hover {
    background-color: rgb(63, 91, 134);
}

.brand-name {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.brand-name p {
    padding: 5px;
}

.section-right{   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
}


article {
    position: relative;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    transition: transform 0.3s ease;
}
article:hover {
    transform: translateY(-10px); /* Levanta la tarjeta 10px hacia arriba en el eje Y */
}


.cart-class{    
    border: 1px solid rgb(219, 219, 219);
    padding: 8px;
    background: white;
    border-radius: 8px;
    width: 100%;
}

.cart-image {
    display: inline-block;
    padding: 0%;
    width: 100%;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.cart-image img{
    width: 100%; 
}

.item-box {       
    padding: 3%;
}

article a {
    text-decoration: none;
    color: inherit;
}

.discount-class {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.reputation-icon{
  color: rgb(52, 131, 250);
}   

.arrives-class, input{
    border: none;
    width: 100%;
 
}

.arrives {
    padding: 5px;
    color: rgb(4, 167, 82);
    background-color: rgb(230, 247, 238);
    text-align: center;
    border-radius: 5px;
}

.brand-class, .reputation-icon, .price-class, .dues-class, .arrives-class  {
    margin: 0px 0px 5% 0px;
}

.description-class, .name-class{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    max-height: 2em; 
  }

  .result, .result-2 {
    background-color: rgb(52, 131, 250);
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.result-2{
    background-color: white;
    color: black;
}

@media (min-width: 461px) {
    article {
        width: 40%;
    }


}

@keyframes desplazamiento {
    0% { transform: translateY(0); } /* Estado inicial: sin desplazamiento */
    50% { transform: translateY(-10px); } /* Desplazamiento hacia arriba */
    100% { transform: translateY(0); } /* Vuelve a la posición original */
  }

@media (min-width: 1024px) {

    .result {
        background-color: rgb(52, 131, 250);
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .result-2 {
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 5px;
        border-radius: 5px;
    }

    .div-animado {
      animation: desplazamiento 2s ease-in-out infinite; /* Aplica la animación */
     }

    .section-right {
        flex-direction: wrap;
        justify-content: flex-start;
        margin-top: 0;
    }

    article {
        position:relative;
        width: 20%;
        margin: 10px;
    }

    .discount-class {
        position: absolute;

    }

    .cart-class {
        width: 100%;
        margin: 0;
    }

}


@media (min-width: 769px) {   

    .aside-left{    
        width: 25vw;    
        display: inline;  
        justify-content: flex-end;
        padding: 2%;
    }
    
    .aside-left h2, h4, p{
        margin-bottom: 5%;
    }
    
    .aside-title{
        padding: 10%;
    }   
    
    .filter-class{    
        padding: 5% 0% 5% 5%;
    }
    
    .filter-class p{    
        margin: 1px 1px 1px 1px;    
    }
    
    .filter-class i:hover{
        color: rgb(52, 131, 250);
    }
    
    .class-arrive-today p{
        font-size: none;
    }
    
    .toggle{
        font-size: 25px;
    }

    
    .gender-class, .waist-class, .brand-class-aside, .condition-class, .location-class{
        padding: 2% 10% 5% 10%;
    }
    
    .class-show-more p{
        color: rgb(52, 131, 250);
    }

    .section-right{    
        width: 75vw;
        display: flex;
        flex-wrap: wrap;    
    }
    .cart-class:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
  
}
