<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head.ejs', {title: 'Iniciar sesion', style: '/user/login'})%>
<body>
    <%-include('../partials/header.ejs')%>
    <main>
        <section>
            <h2>Iniciar sesion<h2>
            <form action="/user/login" method="POST">
                <div class="form">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>
                <div class="form">
                    <label>Contraseña</label> 
                    <input type="password" name="contraseña">
                    <% if (locals.errors && errors.email) { %>
                        <div>
                            <p> <%= errors.email.msg %></p>
                        </div>
                    <% } %>
                    <div><a class="recuperar" href="recuperarcontraseña">¿Olvidaste tu contraseña?</a></div>
                </div>
                <div class="recordar">
                        <input type="checkbox" name ="recordar"> Recordarme
                </div>
                <div class="boton">
                    <button type="submit">Iniciar sesion</button>
                </div>
            </form>
            <p class="crear">¿No tienes una cuenta? <a href="register">Crear Cuenta</a></p>
        </section>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>
</html>